@{
    ViewBag.Title = "Products";
    ViewBag.Description = "Sumar Auto Parts in Dubai offers genuine auto " +
                "parts, OEM parts, and accessories for all car models. Fast delivery, " +
                "competitive prices, and expert assistance. Shop now!";
    ViewBag.Image = "";
}

<style>


        .products-container {
            padding: 5rem 0;
        }

        .product-card, .product-box {
            padding: 2rem;
        }

        .product-desc {
            padding-top: 1.3rem;
        }

        .product-box {
            border-radius: 5px;
            background-color: white;
            border-top: 5px solid var(--primary);
        }

        .product-desc {
            color: var(--text);
        }

            .product-desc H4 {
                text-transform: uppercase;
            }

        .product-spec h6 {
            color: var(--primary);
            text-transform: uppercase;
        }

        .product-box img {
            border-radius: 10px;
        }

        @@media(max-width:1024px) {
            .product-card, .product-box {
                padding: 1rem;
            }
        }

</style>




<div class="products-container container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 product-card">
            <a href="#">
                <div class="product-box">
                    <img src="~/Content/Products/simg_83.jpg" />
                    <div class="product-desc">
                        <H4>Acval 1002</H4>
                        <div class="d-flex justify-content-between">
                            <p>Boot, CV joint, NBR</p>
                            <small class="mb-3">1/BAG,8/CTN</small>
                        </div>
                        <div class="d-flex justify-content-between product-spec">
                            <div class="make">
                                <h6>Make</h6>
                                <small>All</small>
                            </div>
                            <div class="model">
                                <h6>Model</h6>
                                <small>For All Models</small>
                            </div>
                            <div class="year">
                                <h6>Year</h6>
                                <small>11996</small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 product-card">
            <div class="product-box">
                <img src="~/Content/Products/simg_83.png" />
                <div class="product-desc">
                    <H4>Acval 1002</H4>
                    <div class="d-flex justify-content-between">
                        <p>Boot, CV joint, NBR</p>
                        <small class="mb-3">1/BAG,8/CTN</small>
                    </div>
                    <div class="d-flex justify-content-between product-spec">
                        <div class="make">
                            <h6>Make</h6>
                            <small>All</small>
                        </div>
                        <div class="make">
                            <h6>Model</h6>
                            <small>For All Models</small>
                        </div>
                        <div class="year">
                            <h6>Year</h6>
                            <small>11996</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 product-card">
            <div class="product-box">
                <img src="~/Content/Products/simg_83.png" />
                <div class="product-desc">
                    <H4>Acval 1002</H4>
                    <div class="d-flex justify-content-between">
                        <p>Boot, CV joint, NBR</p>
                        <small class="mb-3">1/BAG,8/CTN</small>
                    </div>
                    <div class="d-flex justify-content-between product-spec">
                        <div class="make">
                            <h6>Make</h6>
                            <small>All</small>
                        </div>
                        <div class="make">
                            <h6>Model</h6>
                            <small>For All Models</small>
                        </div>
                        <div class="year">
                            <h6>Year</h6>
                            <small>11996</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 product-card">
            <div class="product-box">
                <img src="~/Content/Products/p1.png" />
                <div class="product-desc">
                    <H4>Acval 1002</H4>
                    <div class="d-flex justify-content-between">
                        <p>Boot, CV joint, NBR</p>
                        <small class="mb-3">1/BAG,8/CTN</small>
                    </div>

                    <div class="d-flex justify-content-between product-spec">
                        <div class="make">
                            <h6>Make</h6>
                            <small>All</small>
                        </div>
                        <div class="make">
                            <h6>Model</h6>
                            <small>For All Models</small>
                        </div>
                        <div class="year">
                            <h6>Year</h6>
                            <small>11996</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
