<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        @@media only screen and (max-width: 480px) {
            table {
                display: block !important;
                width: 100% !important;
            }

            td {
                width: 480px !important;
            }
        }
    </style>
</head>

<body style="font-family: 'Malgun Gothic', Arial, sans-serif; margin: 0; padding: 0; width: 100%; -webkit-text-size-adjust: none; -webkit-font-smoothing: antialiased;">
    <table width="100%" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" id="background" style="height: 100% !important; margin: 0; padding: 0; width: 100% !important;">
        <tr>
            <td align="center" valign="top">
                <table width="600" border="0" bgcolor="#F6F6F6" cellspacing="0" cellpadding="20" id="preheader">
                    <tr>
                        <td valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td valign="top" width="600">
                                        <div class="logo">
                                            <a style="color: #514F4E; font-size: 18px; font-weight: bold; text-align: left; text-decoration: none;"><img src="https://skyhike.in/Content/Images/logo.png" alt="" style="width:3rem"></a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- // END #preheader -->

                <table width="600" border="0" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" id="header_container">
                    <tr>
                        <td align="center" valign="top">
                            <table style="color:black" width="100%" border="0" bgcolor="white" cellspacing="0" cellpadding="0" id="header">
                                <tr>
                                    <td valign="top" class="header_content">
                                        <h1 style="color: black; font-size: 18px; text-align: center;">@ViewBag.subject</h1>
                                    </td>
                                </tr>
                            </table>
                            <!-- // END #header -->
                        </td>
                    </tr>
                </table>
                <!-- // END #header_container -->
                <!-- // END #body_container -->

                <table width="600" border="0" cellspacing="0" cellpadding="20" id="body_info_container">
                    <tr>
                        <td align="center" valign="top" class="body_info_content">
                            <table width="100%" border="0" cellspacing="0" cellpadding="20">
                                <tr>
                                    <td valign="top">
                                        <p style="letter-spacing: 0.5px; font-size: 1rem; color: #6c757d !important;">@ViewBag.templateBodyContent</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="600" border="0" bgcolor="#2B5C6B" cellspacing="0" cellpadding="20" id="contact_container">
                    <tr>
                        <td align="center" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="20" id="contact">
                                <tr>
                                    <td>
                                        <h2 style="color: #F4F4F4; font-size: 20px; text-align: center;">Address</h2>
                                        <p style="color: #F4F4F4; font-size: 14px; line-height: 16px; text-align: center;">London, United Kingdom</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 style="color: #F4F4F4; font-size: 20px; text-align: center;">Contact</h2>
                                        <p style="color: #F4F4F4; font-size: 14px; line-height: 16px; text-align: center;"><strong>Tel:</strong>+447359339316</p>
                                    </td>
                                </tr>
                            </table>
                            <!-- // END #contact -->
                        </td>
                    </tr>
                </table>
                <!-- // END #contact_container -->

                <!--<table width="600" border="0" cellspacing="0" cellpadding="20" id="footer_container">
                    <tr>
                        <td align="center" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="20" id="footer">
                                <tr>
                                    <td align="center" valign="top" class="social_container">
                                        <div class="social">
                                            <a style="background-color:#C7B39A; -webkit-border-radius:50%; border-radius:50%; display:inline-block; height:35px; margin:0 0.215em; width:35px;" onmouseover="this.style.backgroundColor='#CEBCA7'" onmouseout="this.style.backgroundColor='#C7B39A'" href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true" style="width:30px; height:30px;color:black;"></i></a>
                                            <a style="background-color:#C7B39A; -webkit-border-radius:50%; border-radius:50%; display:inline-block; height:35px; margin:0 0.215em; width:35px;" onmouseover="this.style.backgroundColor='#CEBCA7'" onmouseout="this.style.backgroundColor='#C7B39A'" href="https://www.twitter.com"><i class="fa fa-linkedin" aria-hidden="true" style="width: 30px; height: 30px; color: black;"></i></a>
                                            <a style="background-color:#C7B39A; -webkit-border-radius:50%; border-radius:50%; display:inline-block; height:35px; margin:0 0.215em; width:35px;" onmouseover="this.style.backgroundColor='#CEBCA7'" onmouseout="this.style.backgroundColor='#C7B39A'" href="https://www.pinterest.com"><i class="fa fa-instagram" aria-hidden="true" style="width: 30px; height: 30px; color: black;"></i></a>
                                            <a style="background-color:#C7B39A; -webkit-border-radius:50%; border-radius:50%; display:inline-block; height:35px; margin:0 0.215em; width:35px;" onmouseover="this.style.backgroundColor='#CEBCA7'" onmouseout="this.style.backgroundColor='#C7B39A'" href="https://plus.google.com"><i class="fa fa-facebook" aria-hidden="true" style="width: 30px; height: 30px; color: black;"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                            </table>-->
                            <!-- // END #footer -->
                        <!--</td>
                    </tr>
                </table>-->
                <!-- // END #footer_container -->
            </td>
        </tr>
    </table>
    <!-- // END #background -->
</body>
</html>
