
<style>
    .about-us {
        padding: 7rem 0px;
    }

    .about-left {
        padding: 0 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('../../content/images/about-bg.png');
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 about-left">
                <h2>OUR HISTORY</h2>
                <p>
                    Sumar is a professional auto parts supplier in Dubai. 
                    Base on years experiences in the Auto parts field, we know what our customers’ 
                    demand and can offer our best service.
                </p>
                <p>
                    Our mission is to offer the high quality parts and our goal is to innovate 
                    the durable new products to satisfy our customers.
                </p>
                <p>
                    Our products including various kinds of Auto parts especially in the Rubber
                    parts and Brake pads such as Engine Mounts, Shock Absorber Mounting, Center
                    Bearing, Bushing for suspension, Stabilizer Link, Steering Boots and so on.
                </p>
            </div>

            <div class="col-lg-6 col-md-6 col-12 about-right">
                <img src="~/Content/Images/abt-right.png" />
            </div>
        </div>

    </div>
</div>
