<style>
    .blog-content{
        padding:2rem;
    }

    .blog-item {
        padding: 0 1.5rem;
    }
</style>

<div class="blogs">
    <div class="container">
        <div class="heading-home text-center">
            <h2>NEWS &Aacute; BLOGS</h2>
            <p>
                Browse through our selection by brand to find the right parts for your vehicle.
            </p>
        </div>

        <div class="owl-carousel owl-theme blogs-carousel">
            <div class="item blog-item">
                <img src="~/Content/Images/blog-1.jpg" />
                <div class="blog-content">
                    <h3>Diagnosing Top Strut Mount Problems</h3>
                    <p>
                        Something wrong with your car? It could be
                        a strut mount issue. Tenacity Auto Parts
                        shares its symptoms. Read on to find out
                        what you can do to fix it.
                    </p>
                    <br />
                    <p>04 Jan 20241</p>
                    <a>Read More</a>
                </div>
            </div>
            <div class="item blog-item">
                <img src="~/Content/Images/blog-1.jpg" />
                <div class="blog-content">
                    <h3>Diagnosing Top Strut Mount Problems</h3>
                    <p>
                        Something wrong with your car? It could be
                        a strut mount issue. Tenacity Auto Parts
                        shares its symptoms. Read on to find out
                        what you can do to fix it.
                    </p>
                    <br />
                    <p>04 Jan 20241</p>
                    <a>Read More</a>
                </div>
            </div>
            <div class="item blog-item">
                <img src="~/Content/Images/blog-1.jpg" />
                <div class="blog-content">
                    <h3>Diagnosing Top Strut Mount Problems</h3>
                    <p>
                        Something wrong with your car? It could be
                        a strut mount issue. Tenacity Auto Parts
                        shares its symptoms. Read on to find out
                        what you can do to fix it.
                    </p>
                    <br />
                    <p>04 Jan 20241</p>
                    <a>Read More</a>
                </div>
            </div>
            <div class="item blog-item">
                <img src="~/Content/Images/blog-1.jpg" />
                <div class="blog-content">
                    <h3>Diagnosing Top Strut Mount Problems</h3>
                    <p>
                        Something wrong with your car? It could be
                        a strut mount issue. Tenacity Auto Parts
                        shares its symptoms. Read on to find out
                        what you can do to fix it.
                    </p>
                    <br />
                    <p>04 Jan 20241</p>
                    <a>Read More</a>
                </div>
            </div>
            <div class="item blog-item">
                <img src="~/Content/Images/blog-1.jpg" />
                <div class="blog-content">
                    <h3>Diagnosing Top Strut Mount Problems</h3>
                    <p>
                        Something wrong with your car? It could be
                        a strut mount issue. Tenacity Auto Parts
                        shares its symptoms. Read on to find out
                        what you can do to fix it.
                    </p>
                    <br />
                    <p>04 Jan 20241</p>
                    <a>Read More</a>
                </div>
            </div>

        </div>

    </div>
</div>



<script>
    $('.blogs-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 3
            }
        }
    })
</script>