@model List<Model.Blogs>
<style>
    .owl-prev, .owl-next {
        width: 15px;
        height: 100px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block !important;
        border: 0px solid black;
    }

    .owl-prev {
        left: -58px;
    }

    .owl-next {
        right: -20px;
    }

        .owl-prev i, .owl-next i {
            transform: scale(2,5);
            color: var(--bg);
            background-color: var(--primary);
            padding: 1.2rem;
        }

    .blogs {
        background-image: url('../../content/images/blow.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .blog-box {
        -webkit-box-shadow: 0px 0px 61px -50px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 61px -50px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 61px -50px rgba(0,0,0,0.75);
    }

    .blog-content {
        padding: 2rem;
        background-color: var(--bg);
        background-color: #f3f4f596;
    }
    
    .blog-content a{
        color: var(--text);
    }

    .blog-item {
        padding: 0 1.5rem;
    }

    .blog-date {
        color: var(--primary)
    }


    @@media(max-width:1024px) {
        .blog-item {
            padding: 0 0rem;
        }
    }

    @@media(max-width:770px) {
        .owl-prev {
            left: -36px;
        }

        .owl-next {
            right: 13px;
        }

        .blog-item {
            padding: 0 0rem;
        }
    }

    @@media(max-width: 500px) {
        .owl-next {
            right: 31px;
        }

        .owl-prev {
            left: -11px;
        }

        .owl-prev, .owl-next {
            top: 35%;
        }
    }
</style>

@if (Model != null && Model.Count() > 0)
{
    <div class="blogs">
        <div class="container">
            <div class="heading-home text-center">
                <h2>NEWS & BLOGS</h2>
                <p>
                    Browse through our selection by brand to find the right parts for your vehicle.
                </p>
            </div>

            <div class="owl-carousel owl-theme blogs-carousel">
                @foreach (var item in Model)
                {
                    <div class="item blog-item">
                        <div class="blog-box">
                            <img src="@item.Image" alt="Blog Image" />
                            <div class="blog-content">
                                <h4>@item.Title</h4>
                                <p>
                                   @Html.Raw(item.Description)
                                </p>
                                <br />
                                <p class="blog-date"> @item.Date.ToString("dd MMM yyyy")</p>
                                <a href="/Blog?bId=@item.Id">Read More <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>

    </div>
</div>

}



<script>
    $('.blogs-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        navText: ['<i class="bi bi-chevron-left"></i>', '<i class="bi bi-chevron-right"></i>'],
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 3
            }
        }
    })
</script>
