    <!-- Sidebar Start -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-center">
            <a href="/admin" class="text-nowrap logo-img">
                @*<span style="font-weight: bold; font-size: 25px;">SGRR <span style="color: #e66262;">Schools</span></span>*@
                <img src="https://sumarauto.com/images/logo.jpg" width="250" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar simplebar-content-wrapper">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Auto Part</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin" aria-expanded="false">
                        <span>
                            <i class="ti ti-eye-check"></i>
                        </span>
                        <span class="hide-menu">View</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin/AutoPartAction" aria-expanded="false">
                        <span>
                            <i class="ti ti-file-plus"></i>
                        </span>
                        <span class="hide-menu">Add New</span>
                    </a>
                </li>

                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Components</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin/Category" aria-expanded="false">
                        <span>
                            <i class="ti ti-box-seam"></i>
                        </span>
                        <span class="hide-menu">Category</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin/Make" aria-expanded="false">
                        <span>
                            <i class="ti ti-car nav-small-cap-icon"></i>
                        </span>
                        <span class="hide-menu">Make</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin/Blogs" aria-expanded="false">
                        <span>
                            <i class="ti ti-messages nav-small-cap-icon"></i>
                        </span>
                        <span class="hide-menu">Blogs</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Photos</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin/BannerList" aria-expanded="false">
                        <span>
                            <i class="ti ti-cards"></i>
                        </span>
                        <span class="hide-menu">Banners</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin/Gallery" aria-expanded="false">
                        <span>
                            <i class="ti ti-aperture"></i>
                        </span>
                        <span class="hide-menu">Gallery</span>
                    </a>
                </li>

                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Others</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/ContactFormList" aria-expanded="false">
                        <span>
                            <i class="ti ti-address-book"></i>
                        </span>
                        <span class="hide-menu">Contact</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin/Clients" aria-expanded="false">
                        <span>
                            <i class="ti ti-brand-mercedes"></i>
                        </span>
                        <span class="hide-menu">Clients</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin/WebsiteInformation" aria-expanded="false">
                        <span>
                            <i class="ti ti-brand-coinbase"></i>
                        </span>
                        <span class="hide-menu">Info</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin/FileUpload" aria-expanded="false">
                        <span>
                            <i class="ti ti-brand-coinbase"></i>
                        </span>
                        <span class="hide-menu">Brochures</span>
                    </a>
                </li>


                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">AUTH</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/ChangePassword" aria-expanded="false">
                        <span>
                            <i class="ti ti-user-plus"></i>
                        </span>
                        <span class="hide-menu">Change Password</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Account/LogOut" aria-expanded="false">
                        <span>
                            <i class="ti ti-login"></i>
                        </span>
                        <span class="hide-menu">Logout</span>
                    </a>
                </li>

            </ul>

            <!--<ul id="sidebarnav">-->
            @*<li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link active" href="/admin" aria-expanded="false">
                <span>
                    <i class="ti ti-school"></i>
                </span>
                <span class="hide-menu">Schools</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Page Details</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/PageAction" aria-expanded="false">
                <span>
                    <i class="ti ti-clipboard"></i>
                </span>
                <span class="hide-menu">Add Page</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/Admin/PageList" aria-expanded="false">
                <span>
                    <i class="ti ti-clipboard-text"></i>
                </span>
                <span class="hide-menu">View Pages</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Banner</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/Admin/BannerAction" aria-expanded="false">
                <span>
                    <i class="ti ti-photo-up"></i>
                </span>
                <span class="hide-menu">Add Banner</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/Admin/Banners" aria-expanded="false">
                <span>
                    <i class="ti ti-layout-collage"></i>
                </span>
                <span class="hide-menu">View Banners</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Downloads</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/Admin/DownloadList" aria-expanded="false">
                <span>
                    <i class="ti ti-clipboard-text"></i>
                </span>
                <span class="hide-menu">Manage Downloads</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Gallery</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/Admin/DownloadList" aria-expanded="false">
                <span>
                    <i class="ti ti-brand-google-photos"></i>
                </span>
                <span class="hide-menu">View Gallery</span>
            </a>
        </li>*@
            <!--</ul>-->
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->